* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.container {
	display: grid;

	grid-template-areas: "header header header" "nav content side" "footer footer footer";

	grid-template-columns: 200px 1fr 200px;
	grid-template-rows: auto 1fr auto;
	grid-gap: 10px;

	height: 100vh;
}

header {
	grid-area: header;
	border: 1px solid gray;
	display: flex;
	justify-self: space-between;
	text-align: center;
}

nav {
	grid-area: nav;
	margin-left: 0.5rem;
	text-align: center;
	border: 1px solid gray;
}

nav a {
	display: block;
	padding: 10px 30px;
	color: black;
	text-decoration: none;
	cursor: pointer;
}

nav li {
	color: black;
	border-top: 1px solid;
	position: relative;
	width: 100%;
	display: list-item;
	list-style: none;
	background-color: rgba(232, 236, 241, 1);
}

nav li:hover {
	background-color: rgba(218, 223, 225, 1);
}

main {
	grid-area: content;
}

main img {
	width: 20%;
	height: auto;
	margin: 2%;
	display: row;
}

aside {
	grid-area: side;
	margin-right: 0.5rem;
}

footer {
	grid-area: footer;

	text-align: center;
}

@media (max-width: 768px) {
	.container {
		grid-template-areas: "header" "nav" "content" "side" "footer";

		grid-template-columns: 1fr;
		grid-template-rows: auto minmax(75px, auto) 1fr minmax(75px, auto) auto;
	}

	nav,
	aside {
		margin: 0;
	}
}
